####################################################################
# Visual Studo cache/options directory.
####################################################################
/.vs/

####################################################################
# Output files.
####################################################################
bin/
obj/

####################################################################
# Log files.
####################################################################
*.log
*.bak
